################################################################################
# Diese .gitignore-Datei wurde von Microsoft(R) Visual Studio automatisch erstellt.
################################################################################

/TwentyThreeNet/obj/Debug
/TwentyThreeNet/bin/Debug
/.vs/TwentyThreeNet/v14/.suo
/DemoApplication/bin/Debug
/DemoApplication/obj/Debug
